@import url("layout.css");

.branch {float:right; width:150px; padding:0 15px 0 0;}
.branch .preference {float:left;}
.branch .name {font-size:17px; font-weight:bold; color:#1c2d77; padding:3px 0 3px 0;}

.contents {float:left; width:1700px;}
.contents h2 {color:#1c2d77; font-size:22px; font-weight:bold; margin:40px 0 23px 30px;}
.contents .search {margin:0 0 0 30px;}
.contents .search input[type="text"] {float:left; border:solid 1px #c5c5c5; color:#c5c5c5; background-color:#f2f2f2; width:380px; height:25px; padding:5px 15px 5px 15px; border-radius: 25px;}
.contents .search input[type="image"] {float:left; height:30px; margin:2px 0 0 10px;}

.contents .table {float:left; margin:23px 0 0 30px;}
.contents .table table{width:1300px;}
.contents .table th{border:solid 1px #231815; padding:5px; height:20px; font-weight:bold; background-color:#25436f; color:#fff;}
.contents .table td{border:solid 1px #231815; padding:5px; height:20px; font-weight:bold;}
.contents .table a:link {text-decoration: none; color:#000;}
.contents .table a:visited {text-decoration: none; color:#000;}
.contents .table a:hover {text-decoration: underline; color:#888;}
.contents .table a:active {text-decoration: none; color:#000;}

.contents .table td input[type="button"] {padding:3px; width:30px; font-size:12px; height:30px; border:solid 1px #999; color:#231815; background-color:#fff; cursor:pointer; text-align:center;}

.contents .right {width:300px; margin:22px 0 0 40px; float:left;}
.contents .right .image {width:100%; border:solid 1px #999;}
.contents .right .button {width:100%; margin-top:30px;}

.contents .staff {float: left; margin: 30px 0 23px 30px; width: 275px; height: 425px; background-image: url('../img/staff_bg.png'); /* box-shadow: 0px 0px 5px #7C7C7C; */ /* border-radius: 7px; */}
.contents .staff .name {width: 100%; padding: 20px 0 13px 22px; height: 15px; font-size: 21px; color: #fff; font-weight: bold;}
.contents .staff .image {float: left; padding: 25px 0 0 25px;}
.contents .staff .evaluation {font-size: 30px; width: 100%; margin-top: 258px; padding-left: 24px; color: #333342;}
.contents .staff .service_count {width: 100%; margin-top: 30px; padding-left: 23px; color: #333342;}

.contents2 {float:left; width:640px;}
.contents2 h2 {color:#1c2d77; font-size:22px; font-weight:bold; margin:40px 0 23px 30px;}

.contents2 .select {float:right; width:200px; margin: -45px 10px 0 0; text-align: right; font-size: 18px; font-weight: bold; padding:-3px 0 0 0;}
.contents2 .select select {width:120px; height:30px; font-size: 18px; font-weight: bold; padding: 0 0 0 34px; border-radius: 7px; background-color: #f4f4f4;}

.contents2 .ranking {float:left; margin:0px 0 23px 28px; width:293px;}
.contents2 .ranking .men_ranking1 {width:100%; height:317px; background-image:url('../img/rank1.png');}
.contents2 .ranking .men_ranking2 {width:100%; height:317px; background-image:url('../img/rank2.png'); margin-top:3px;}
.contents2 .ranking .men_ranking3 {width:100%; height:317px; background-image:url('../img/rank3.png'); margin-top:3px;}
.contents2 .ranking .women_ranking1 {width:100%; height:317px; background-image:url('../img/rank1_2.png');}
.contents2 .ranking .women_ranking2 {width:100%; height:317px; background-image:url('../img/rank2_2.png'); margin-top:3px;}
.contents2 .ranking .women_ranking3 {width:100%; height:317px; background-image:url('../img/rank3_2.png'); margin-top:3px;}
.contents2 .ranking .image {width:100%; text-align:center; padding-top:20px;}
.contents2 .ranking .image img{height:230px;}
.contents2 .ranking .name {width: 75%; font-size: 20px; text-align: center; font-weight: bold; margin-top: 10px; margin-left: 12.5%;}

.contents3 {float:left; width:960px; margin-left:25px;}
.contents3 h2 {color:#1c2d77; font-size:22px; font-weight:bold; margin:40px 0 23px 0;}
.contents3 .area {width:100%; height:954px; border: solid 1.5px #ccc; border-radius: 8px;}
.contents3 .area .title{width:100%; font-size:20px; color:#888; margin-top:25px; text-align:center; z-index:9999;}
.contents3 .area .barcode{width: 96px; top: -248px; left: 195px; color:#ff5865; position: relative; font-size: 45px; text-align: center; line-height: 40px;}
.contents3 .area .barcode2{width: 96px; top: -332px; left: 675px; color:#142775; position: relative; font-size: 45px; text-align: center; line-height: 40px;}